
SQLSERVER_PORT=1433
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
API_PORT=5000
DOCKER_DB_HOST=sqlserver
DOCKER_RABBITMQ_HOST=rabbitmq
DOCKER_RABBITMQ_PORT=5672
DOCKER_API_BASE_URL=http://api:8080/


DB_PASSWORD=ChangeThis_StrongPassword123!


RABBITMQ_USER=progressio
RABBITMQ_PASS=ChangeThis_RabbitPassword123!


JWT_KEY=ChangeThis_WithAtLeast32RandomCharacters_123456789
JWT_ISSUER=Progressio
JWT_AUDIENCE=ProgressioApp

STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me

TOKEN_HASH_KEY=ChangeThis_TokenHashKey_WithAtLeast32Characters_123456789
INTERNAL_KEY=ChangeThis_InternalKey_123456789


SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=replace_me
SMTP_PASSWORD=replace_me
SMTP_FROM_EMAIL=noreply@progressio.app
SMTP_FROM_NAME=Progressio
SMTP_USE_SSL=true


ASPNETCORE_ENVIRONMENT=Production
ALLOWED_HOSTS=*
DOTNET_ENVIRONMENT=Production
STATS_AVG_MINUTES_PER_CHAPTER=6.0
STATS_AVG_HOURS_PER_GAME=20.0
CORS_ALLOWED_ORIGINS=http://localhost:5000,http://10.0.2.2:5000
STORAGE_WEB_ROOT_PATH=wwwroot
STORAGE_PROFILE_UPLOAD_PATH=wwwroot/uploads/profiles
DATA_PROTECTION_KEYS_PATH=.keys


ASPNETCORE_URLS=http://0.0.0.0:5000
ConnectionStrings__Default=Server=localhost,1433;Database=230005;User Id=sa;Password=ChangeThis_StrongPassword123!;MultipleActiveResultSets=true;TrustServerCertificate=True
Jwt__Key=ChangeThis_WithAtLeast32RandomCharacters_123456789
Jwt__Issuer=Progressio
Jwt__Audience=ProgressioApp
RabbitMq__Host=localhost
RabbitMq__Username=progressio
RabbitMq__Password=ChangeThis_RabbitPassword123!
RabbitMq__Port=5672
Stripe__PublishableKey=pk_test_replace_me
Stripe__SecretKey=sk_test_replace_me
Stripe__WebhookSecret=whsec_replace_me
Api__BaseUrl=http://localhost:5000/
Api__InternalKey=ChangeThis_InternalKey_123456789
Security__TokenHashKey=ChangeThis_TokenHashKey_WithAtLeast32Characters_123456789
Smtp__Host=smtp.mailtrap.io
Smtp__Port=587
Smtp__Username=replace_me
Smtp__Password=replace_me
Smtp__FromEmail=noreply@progressio.app
Smtp__FromName=Progressio
Smtp__UseSsl=true
Stats__AvgMinutesPerChapter=6.0
Stats__AvgHoursPerGame=20.0
Cors__AllowedOrigins=http://localhost:5000,http://10.0.2.2:5000
Storage__WebRootPath=wwwroot
Storage__ProfileUploadPath=wwwroot/uploads/profiles
DataProtection__KeysPath=.keys